.row {
    display: flex;
    width: 180px;
}

.col {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* 滑鼠移過去有手指 */
}

.col:not(:first-child) {
    border-left: 1px solid #000;
}

.row:nth-child(odd) {
    /* 基數 */
    background-color: #aebf98;
}

.row:nth-child(even) {
    /* 偶數 */
    background-color: #667653;
}

.active {
    background-color: #c28d8d;
    color: #fff;
}